<%-  include('layout') %>

<%  block body %>
<div class="jumbotron">
    <h1 class="display-4">Welcome to ChatApp</h1>
    <p class="lead">Join the conversation in real-time!</p>
    <hr class="my-4">
    <p>To start chatting, please <a href="/users/login">log in</a> or <a href="/users/register">register</a>.</p>
</div>
<% endblock %>